html, button, input {
  font-family: monospace;
  font-size: 23px;
}

input, button {
  margin: 4px;
  padding: 12px;
}

input {
}

#calc {
  max-width: min(700px, 90%);
  background: #ddd;
  padding: 42px;
  margin: auto;

}
